                       <nav>
                      <div class="row">
            
                      <ul class="main-nav js--main-nav">
                        <!--
                        <li>
                            <a href=#>Home</a>
                        </li>
                          <li>
                            <a href="#">Appointments</a>
                        </li>
                     
          

                        <li><a href="#">Doctors</a></li>

                        <li><a href="#">Departments</a></li>
                       <li><a href="#">Lab Reports</a></li>
                {% if request.user.is_authenticated %}   
                <a class ="btn btn-ghost btnlogin1 btn2" href="#"><span>{{request.user}}</span></a>
               
{% endif %}-->
                                           </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                
                </div>
            
            
            
            </nav>